@model SkillTradingWebsite.Models.IndexViewModel

@{
    ViewBag.Title = "Verwaltung";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Verwalten Sie Ihr Nutzerprofil</h4>
    <hr />
    <table class="table">
        <tr>Passwort:</tr>
        <tr>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Passwort ändern", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </tr>

</table>
    
</div>
 


