@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Rettlsteinerweg 24/D7<br />
    6112, Wattens, Tirol, Austria<br />
    P: +43676564913<br/>
    E: iknowhowinfo@gmail.com <br/>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">iknowhow-support@iknowhow.at</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">iknowhow-marketing@iknowhow.at</a>
</address>