@model IEnumerable<SkillTradingWebsite.Models.DatabaseModels.Category>
@using SkillTradingWebsite.Models;
@{
    ViewBag.Title = "Index";
}

<h2></h2>

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Create New", "Create")
}
<p>
</p>
<div class="row">
    <div class="visible-xs">
        <div class="well">Hier finden sie die Kategorien. In jeder Kategorie befinden sich weitere Mitglieder die ihr können ab!</div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
         @{ ApplicationDbContext db = new ApplicationDbContext(); }
   
            <table class="table">

            @foreach (var item in Model)
            {
                int CountCategories = (from o in db.Offers where o.CategoryID == item.CategoryID select o).Count();
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                        <a href="@Url.Action("Index","Offers", new { id=item.CategoryID})">@Html.DisplayFor(modelItem => CountCategories)</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="hidden-xs col-sm-6">
        <div class="well">Hier finden sie die Kategorien. In jeder Kategorie befinden sich weitere Mitglieder die ihr können ab!</div>
    </div>
</div>
